@import url("~/friedrice/theme.css")
* {
  font-family: JetBrains Mono Nerd Font Propo;
  font-weight: bold;
}
#waybar {
  background-color: transparent;
}
.modules-center {
  background-color: @base;
  border-radius: 30px;
}
#custom-arch {
  color: @base;
  background-color: @blue;
  border-radius: 30px;
  margin: 5px;
  padding: 0px 5px;
}
#clock {
  color: @maroon;
  margin: 5px;
  padding: 0px 5px;
}
#workspaces {
  font-size: 5px;
  margin: 5px;
  padding: 0px 5px;
}
#workspaces button {
  background-color: @surface;
  border-radius: 50px;
  margin: 3px;
  padding: 0px 5px;
  min-width: 5px;
  transition: all 300ms ease-in-out;
}
#workspaces button.active {
  background-color: @green;
  border-radius: 50px;
  margin: 3px;
  padding: 0px 5px;
  min-width: 15px;
  transition: all 300ms ease-in-out;
}
#pulseaudio {
  color: @yellow;
  margin: 5px;
  padding: 0px 5px;
}
#network {
  color: @peach;
  margin: 5px;
  padding: 0px 5px;
}
#battery {
  color: @text;
  margin: 5px;
  padding: 0px 5px;
}
#battery.charging {
  color: @green;
  margin: 5px;
  padding: 0px 5px;
}
tooltip {
  background-color: @base;
  border-color: @base;
}
tooltip label {
  color: @text;
}
