* {
    font-family: JetBrains Mono Nerd Font;
    font-size: 14px;
    font-weight: 700;
}

window#waybar {
    background-color: black;
}

#workspaces button {
    margin: 5px 0px 5px 5px;
    background: transparent;
    color: white;
    border-radius: 5px;
    padding: 0px 5px;
}

#workspaces button.active {
    background: white;
    color: black;
    border-radius: 5px;
}


#clock,
#pulseaudio,
#network,
#battery {
    margin: 5px;
    padding: 0px 5px;
    border-radius: 5px;
    color: white;
}
